$primary-color: rgb(22, 39, 89);
$secondary-color: rgb(54, 69, 115);
$highlight-color: rgb(235, 231, 2);
$light-color: rgb(242, 241, 235);
$hover-color: rgb(168, 174, 191);

$primary-font: 'Montserrat', sans-serif;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// zeroing margin so sections will fill to screen edge
body {
  font-family: $primary-font;
  margin: 0;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: $secondary-color;
  font-size: 1.1em;
  font-weight: 300;

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

  li {
    margin: 1em;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    &:link,
    &:visited {
      color: $light-color;
      -webkit-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
    }
    &:hover {
      color: $highlight-color;
      -webkit-transition: color 0.4s ease-in-out;
      transition: color 0.4s ease-in-out;
    }
  }
}

// setting position to relative so I can absolute-position the child classes
.nav-item {
  position: relative;
}

.nav–link:active:after,
.nav-link:focus:after,
.nav-link:hover:after,
.nav-link:visited:after {
  width: calc(100% - 0.2em);
  opacity: 0.6;
}

.icon {
  display: none;
}

#welcome-section {
  height: 100vh;
}

footer {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: $primary-color;
  height: 20em;
  width: 100%;

  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin-right: 2em;
  }
}

#contact-info {
  text-align: center;
  position: absolute;
  bottom: 1em;
  left: 4em;
  color: $light-color;
  font-size: 1.5em;
}

.contact-img {
  width: 10em;
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.1);
  }
}

.custom-shape-divider-top-1610406725 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1610406725 svg {
  position: relative;
  display: block;
  width: calc(261% + 1.3px);
  height: 164px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1610406725 .shape-fill {
  fill: #ffffff;
}

// navbar animation

@media only screen and (min-width: 500px) {
  .nav-link:after {
    content: '';
    height: 0.2rem;
    background: $light-color;
    position: absolute;
    left: 0.1rem;
    bottom: -0.5rem;
    opacity: 0;
    width: 0;
    transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

// hamburger menu

@media only screen and (max-width: 500px) {
  #navbar {
    position: relative;
    text-align: center;

    ul {
      display: none;
    }

    a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
    }
  }

  #nav-links {
    padding-bottom: 1em;
  }

  .icon {
    display: flex;
    justify-content: center;
    margin-bottom: 0.2em;
    margin-left: 0.6em;
    font-size: 3.5em;
  }
}
