@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #364573;
  font-size: 1.1em;
  font-weight: 300;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none;
}

#navbar li {
  margin: 1em;
}

#navbar a {
  text-decoration: none;
  text-transform: uppercase;
}

#navbar a:link,
#navbar a:visited {
  color: #f2f1eb;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#navbar a:hover {
  color: #ebe702;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.nav-item {
  position: relative;
}

.nav–link:active:after,
.nav-link:focus:after,
.nav-link:hover:after,
.nav-link:visited:after {
  width: calc(100% - 0.2em);
  opacity: 0.6;
}

.nav-link:after {
  content: '';
  height: 0.2rem;
  background: #f2f1eb;
  position: absolute;
  left: 0.1rem;
  bottom: -0.5rem;
  opacity: 0;
  width: 0;
  -webkit-transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#welcome-section {
  height: 100vh;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: #162759;
  height: 20em;
  width: 100%;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer li {
  margin-right: 2em;
}

#contact-info {
  text-align: center;
  position: absolute;
  bottom: 1em;
  left: 4em;
  color: #f2f1eb;
  font-size: 1.5em;
}

.contact-img {
  width: 10em;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.contact-img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.custom-shape-divider-top-1610406725 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.custom-shape-divider-top-1610406725 svg {
  position: relative;
  display: block;
  width: calc(261% + 1.3px);
  height: 164px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1610406725 .shape-fill {
  fill: #ffffff;
}
